//colors
$color-neutral: hsl(55, 15%, 86%);
$color-dark: hsl(197, 7%, 21%);
$color-accent: hsl(37, 70%, 64%);
$color-light: hsl(220, 7%, 92%);


//font sizes
$font-lg: 4rem;
$font-reg: 1.25rem;
$font-sm: 1rem;
$font-med: 1.25rem;


